/* ===============================================================================
    Base Reset + Typography
   =============================================================================== */

   body {
    margin: 0;
    background-color: var(--color-bg-primary);
    color: var(--color-text-primary);
    font-family: var(--font-primary);
   }